body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #perfil-info {
    margin-top: 20px;
  }
  
  #perfil-info > div {
    margin-bottom: 10px;
  }
  
  #perfil-info strong {
    font-weight: bold;
    margin-right: 5px;
  }
  