* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins';
  
 }
 
 p {
   margin: 0;
 }
 
 .card img {
   height: 30vh;
 }
 
 header {
   background-color: #0d6efd;
   border-radius: 0.5rem;
   width: 100%;
 }
 
 figure img {
   object-fit: cover;
 }
 
 a {
   text-decoration: none;
 }
 
 a:hover {
   scale: 1.03;
 }
 
 header h1, header p {
   color: white;
   font-size: 60px;
 }

 @media (min-width: 1200px) { 
   header {
      width: 84%;
   }
 }